*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
.idea/inspectionProfiles/profiles_settings.xml
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
.idea/misc.xml
